<?xml version="1.0" encoding="UTF-8"?>
<robot name="piper" xmlns:xacro="http://wiki.ros.org/xacro">
    <group name="manipulator">
        <chain base_link="base_link" tip_link="tcp"/>
    </group>
    <group name="gripper">
        <link name="gripper_base_link"/>
        <link name="right_finger"/>
        <link name="left_finger"/>
    </group>
<!-- 
    <group name ="clamper">
        <joint name="left_gripper_joint"/>
        <joint name="right_gripper_joint"/>


    </group> -->
    <!-- home pose is just off the joint limits for joint_2/3 to keep it from getting stuck in Gazebo simulation -->
    <group_state name="home" group="manipulator">
        <joint name="joint_1" value="0"/>
        <joint name="joint_2" value="0.01"/>
        <joint name="joint_3" value="-0.01"/>
        <joint name="joint_4" value="0"/>
        <joint name="joint_5" value="0"/>
        <joint name="joint_6" value="0"/>
    </group_state>
    <group_state name="forward" group="manipulator">
        <joint name="joint_1" value="0"/>
        <joint name="joint_2" value="1"/>
        <joint name="joint_3" value="-0.85"/>
        <joint name="joint_4" value="0"/>
        <joint name="joint_5" value="0.85"/>
        <joint name="joint_6" value="0"/>
    </group_state>
    <group_state name="open" group="gripper">
        <joint name="gripper_joint" value="0.038"/>
        <joint name="mimic_gripper_joint" value="0.038"/>
    </group_state>
    <group_state name="closed" group="gripper">
        <joint name="gripper_joint" value="0.01"/>
         <joint name="mimic_gripper_joint" value="0.01"/>
    </group_state>


    <!-- <group_state name="open" group="clamper">
        <joint name="left_gripper_joint" value="0.038"/>
        <joint name="right_gripper_joint" value="0.038"/>
    </group_state>
    <group_state name="closed" group="clamper">
        <joint name="left_gripper_joint" value="0.02"/>
         <joint name="right_gripper_joint" value="0.02"/>
    </group_state> -->

    
    <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
    <end_effector name="eff" parent_link="tcp" group="gripper" parent_group="manipulator"/>
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="base_link" link2="link_1" reason="Adjacent"/>
    <disable_collisions link1="base_link" link2="link_2" reason="Never"/>
    <disable_collisions link1="gripper_base_link" link2="left_finger" reason="Adjacent"/>
    <disable_collisions link1="gripper_base_link" link2="link_3" reason="Never"/>
    <disable_collisions link1="gripper_base_link" link2="link_4" reason="Never"/>
    <disable_collisions link1="gripper_base_link" link2="link_5" reason="Adjacent"/>
    <disable_collisions link1="gripper_base_link" link2="right_finger" reason="Adjacent"/>
    <disable_collisions link1="left_finger" link2="link_3" reason="Never"/>
    <disable_collisions link1="left_finger" link2="link_4" reason="Never"/>
    <disable_collisions link1="left_finger" link2="link_5" reason="Never"/>
    <disable_collisions link1="left_finger" link2="right_finger" reason="Default"/>
    <disable_collisions link1="link_1" link2="link_2" reason="Adjacent"/>
    <disable_collisions link1="link_1" link2="link_3" reason="Never"/>
    <disable_collisions link1="link_2" link2="link_3" reason="Adjacent"/>
    <disable_collisions link1="link_2" link2="link_4" reason="Never"/>
    <disable_collisions link1="link_3" link2="link_4" reason="Adjacent"/>
    <disable_collisions link1="link_3" link2="link_5" reason="Never"/>
    <disable_collisions link1="link_3" link2="right_finger" reason="Never"/>
    <disable_collisions link1="link_4" link2="link_5" reason="Adjacent"/>
    <disable_collisions link1="link_4" link2="right_finger" reason="Never"/>
    <disable_collisions link1="link_5" link2="right_finger" reason="Never"/>
    <disable_collisions link1="camera_link" link2="camera_horizontal_rod" reason="Adjacent"/>
    <disable_collisions link1="camera_horizontal_rod" link2="camera_rod" reason="Adjacent"/>

    <!-- <disable_collisions link1="ax_left_finger" link2="ax_right_finger" reason="Default"/>
    <disable_collisions link1="ax_grip_base" link2="ax_right_finger" reason="Default" /> 
    <disable_collisions link1="ax_grip_base" link2="ax_left_finger" reason="Default" /> 
    <disable_collisions link1="ax_grip_base" link2="ax_grip_rod" reason="Default" />  -->

</robot>
