<?xml version="1.0"?>
<robot name="piper_gazebo" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
Gazebo plugins can only be included once. Use this xacro as an example of how to run ros2_control in Gazebo.
Required Gazebo plugins:
  - gz_ros2_control::GazeboSimROS2ControlPlugin
    required to read and publish the robots joint states
-->
<xacro:macro name="piper_gazebo_plugins" params="simulation_controllers">

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>${simulation_controllers}</parameters>
            <controller_manager_node_name>controller_manager</controller_manager_node_name>
        </plugin>
    </gazebo>

</xacro:macro>
</robot>
